@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #231F20;
    background-color: #EFE6DD;
    font-family: 'Work Sans', sans-serif;
}

.divider {
    margin-top: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.app {
    padding: 20px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--title {
    color: #BB4430;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

.header--btn {
    color: #EFE6DD;
    background-color: #231F20;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.header--btn:hover {
    background-color: #231f20c9;
}

.contact-list {
    
}

.contact {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
}

.contact--photo {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact--email,
.contact--phone {
    color: #4e4a4b;
    font-weight: 100;
}

.contact--btns {
    margin-top: 15px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.contact--btn {
    flex: 1 1 auto;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact--btn:hover,
.new-contact--form-btns input[type="button"] {
    background-color: #EFE6DD;
}

.contact--edit,
.new-contact--form-btns input[type="submit"] {
    background-color: #7EBDC2;
}

.contact--edit:hover,
.new-contact--form-btns input[type="submit"]:hover {
    background-color: #5f9599;
}

.new-contact {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-contact--form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.new-contact--form input { 
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.new-contact--form-btns {
    display: flex;
    justify-content: space-between;
}

.new-contact--form-btns input {
    border: none;
    cursor: pointer;
}
